.login {
    background-color: rgb(235, 235, 235); 
    height: 100%;
    padding: 83px 0;
    color: blue;
  &__box {
    background-color: #fff;
    width: 700px;
    height: 70%;
    margin: 0 auto;
    padding: 40px 0;
  }
  &__h {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
  
  }
  .field {
    text-align: center;
    margin-top: 50px;
  }
}
.actions {
  text-align: center;
  input {
    margin-top: 20px;
    width: 100px;
    height: 50px;
    font-size: 16px;
  }
}
.signup-btn {
  text-align: center;
  margin-top: 30px;
  a {
    text-decoration: none;
    color: blue;
    border: solid 1px rgb(235, 235, 235);
    padding: 8px;
    &:hover {
      background-color: rgb(235, 235, 235);
    }
  }
}
.forget-password {
  text-align: center;
  margin-top: 30px;
  a {
    text-decoration: none;
    color: blue;
    border: solid 1px rgb(235, 235, 235);
    padding: 8px;
    &:hover {
      background-color: rgb(235, 235, 235);
    }

  }
}